.small-card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.small-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    flex-shrink: 0;
}

.small-card-content {
    display: flex;
    flex-direction: column;
}

.small-card-category {
    font-size: .75rem;
    color: #777;
    text-transform: uppercase;
}

.small-card-title {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.4;
}

.small-card-author {
    font-size: .85rem;
    color: #999;
}